html
head
	title My Learning NodeJS Server
	link(href='/css/main.css' rel='stylesheet')
body
	.navigation
		a(href='/todo') 
			span Todo List App
	.banner
		span Welcome to my NodeLearning Server
	.tech
		span Technologies Used
		.details
			.mongodb
			.express
			.react
			.node
