doctype html
html
	head
		title Todo List
		link(href="https://fonts.googleapis.com/css?family=Titillium+Web:900" rel="stylesheet")
		link(href='/css/main.css' rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
	body
		#example

		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='/javascript/build/react.min.js')
		script(src='/javascript/build/react-dom.min.js')
		script(src='/javascript/build/todo.js')
		script.
			props=!{JSON.stringify(pageData)};
		script(src='/javascript/build/test.js')
